{% extends 'base.html.twig' %}

{% block title %}Hello ScraperController!{% endblock %}

{% block body %}
    <div class="container pageLogin">
        <div class="row ">
            <div class="errorMessage"></div>
        </div>
    </div>
{% endblock %}